#AppBar, #AppBar .Toolbar {
  color: black;
  background: white;

  z-index: 1000;
}

.Toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavButtonsContainer {
  display: flex;
  gap: 1.75rem;
}

.NavButton {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.NavDrawerContent {
  padding: 1.5rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1.5rem;
}