.Navbar {
  height: 10%;
  width: 100%;

  padding: 1.25rem;

  display: flex;
  justify-content: space-between;

  color: black;
  background: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.LogoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavButtonsContainer {
  display: none;
}

.NavButtons {
  display: flex;
  align-items: center;
  gap: 1.75rem;

  list-style: none;
  padding: 0;
}
